<h1>Welcome to the stock tracker app!</h1>
<p class="lead">
  This is a simple web application in which you can search and follow stocks, 
  find other users and add them as friends to see what stcoks they are following.
  Check out the functions and have fun!
</p>

